@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --background-color: #d3d3d3;
    --text-color: #000;
    --title-color: #0e9e0e;
    --emphasis-color: #eee7e7;
}

.dark-tema {
    --background-color: #0f0e0e;
    --text-color: #fff;
    --title-color: #2bc52b;
    --emphasis-color: #262626;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--emphasis-color);
    color: var(--text-color);
    transition: background 0.8s, color 0.8s;
}

/* ----------------Header----------------- */

section {
    min-height: 100vh;
    padding: 9rem 0;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 8%;
    background: var(--emphasis-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: background 0.8s, color 0.8s;
}

#header.sticky {
    border-bottom: 1px solid var(--text-color);
    background: var(--emphasis-color);
}

.logo {
    font-size: 30px;
    color: var(--title-color);
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    color: var(--text-color);
    margin-left: 30px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: var(--title-color);
}

#menu-icon {
    font-size: 30px;
    color: var(--text-color);
    display: none ;
    cursor: pointer;
    opacity: 0;
    animation: slideRight 2s ease forwards;
    animation-delay: .7s;
}

.toggle-btn {
    font-size: 18px;
    font-weight: 500;
    background: rgb(14, 158, 14);
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.toggle-btn img {
    width: 25px;
    margin-left: 10px;
}

#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 8% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 40px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
} 

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h1 {
    line-height: 1.3;
    font-size: 60px;
    margin: 3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h1 span {
    color: var(--title-color);
}

#efeito {
    font-size: 40px;
    font-weight: 500;
    color: transparent;
    -webkit-text-stroke: 1.5px var(--title-color);
    background-image: linear-gradient(var(--title-color), var(--title-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: 0 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: .3s;
}

.home-content p {
    font-size: 19px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-img img {
    width: 50vh;
    border-radius: 20%;
    max-width: 450px;
    border: 1,5 solid var(--title-color);
    box-shadow: 0 0 18px var(--title-color);
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 1s, 3s;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--title-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--title-color);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    background: var(--title-color);
    color: var(--text-color);
    box-shadow: 0 0 20px var(--title-color);
}

.btn-donwload {
    display: inline-block;
    padding: 12px 28px;
    background: var(--title-color);
    border-radius: 40px;
    text-decoration: none;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.5s;
}

.btn-donwload:hover {
    box-shadow: 0 0 10px var(--title-color);
}

/* -------------------About-------------------- */

#about {
    background: var(--background-color);
    color: var(--text-color);
    transition: background 0.8s, color 0.8s;
}

#about p {
    font-size: 19px;
}

.container {
    margin-left: 8%;
    margin-right: 8%;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 70%;
    border-radius: 15px;
    border: 1px solid var(--title-color);
    box-shadow: 0 0 10px var(--title-color);
}

.about-col-2 {
    flex-basis: 60%;
}

.about-col-2 p {
    text-align: justify;
}

.info-about {
    padding: 15px 0;
}

.about-col-2 li {
    font-size: 17px;
}

.sub-title {
    text-align: center;
    font-size: 55px;
    font-weight: 600;
    color: var(--text-color);
    padding: 15px 0;
    border-bottom: 2px solid var(--title-color);
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0px;
    height: 3px;
    background: var(--title-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: var(--title-color);
    font-size: 17px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.icons-tec i {
    font-size: 50px;
    padding: 5px 10px;
    color: var(--text-color);
}

.icons-tec i:hover {
    color: var(--title-color);
    transition-duration: .5s;
}

/* -------------------Portfolio------------------- */

#portfolio {
    background: var(--emphasis-color);
    padding: 65px 0;
    transition: background 0.8s, color 0.8s;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}  

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    color: black;
    font-weight: 600;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), #0e9e0e);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    margin-bottom: 25px;
}


.layer a {
    margin-top: 20px;
    color: #0e9e0e;
    text-decoration: none;
    font-size: 18;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

 .btn {
    background: var(--title-color);
    font-size: 15px ;
    display: block;
    margin: 35px 0;
    width: fit-content;
    border: 1px solid #0e9e0e; 
    padding: 15px 30px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--text-color);
    transition: background 0.5s;
}

.btn:hover {
    background: #0e9e0e;
    box-shadow: 0 0 10px var(--title-color);
}

/* --------------------Contato-------------------- */

#contract {
    padding: 11rem 0;
    background: var(--background-color);
    transition: background 0.8s, color 0.8s;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
    font-size: 15px;
}

.contact-left p i {
    color: var(--title-color);
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 30px;
    color: var(--text-color);
    display: inline-block;
}

.social-icons a:hover {
    color: var(--title-color);
    transform: translateY(-5px);
}

.contact-right form {
    width: 100%;
    padding-bottom: 15px;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: var(--emphasis-color);
    padding: 15px;
    margin: 15px 0;
    color: var(--text-color);
    font-size: 18px;
    border-radius: 6px;
    transition: background 0.8s;
}

form .btn2 {
    background: var(--title-color);
    font-size: 17px ;
    display: block;
    margin: 20px auto;
    width: fit-content;
    border: 1px solid #0e9e0e; 
    padding: 15px 50px;
    border-radius: 6px;
    cursor: pointer;
    color: var(--text-color);
    transition: background 0.5s;
}

.btn2:hover {
    background: #0e9e0e;
    box-shadow: 0 0 10px var(--title-color);
}

#msg {
    color: var(--title-color);
    margin-top: -28px;
    display: block;
    font-size: 18px;
}

/* ---------------------Footer------------------- */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 8%;
    background: var(--emphasis-color);
    transition: background 0.8s, color 0.6s;
}

.footer-text p {
    font-size: 18px;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: var(--title-color);
    text-decoration: none;
    border-radius: 10px;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 10px var(--title-color);
}

.footer-iconTop a i {
    font-size: 20px;
    color: var(--text-color);
}

/* -------------------KayFrames------------------- */

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-24px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes homeBgText {

    0%,
    10%,
    100% {
        background-position: -100vh;
    }

    65%,
    85% {
        background-position: 0 0; 
    }
}

/* ------------------Mobile Firt------------------ */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    #header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem; 
    }

    #footer {
        padding: 2rem 3%;
    }

    .work-list {
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }

}

@media (max-width: 900px) {

    #header {
        padding: 10px 3%;
    }

    
    #home img {
        width: 28vh;
    }


    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--background-color);
        border-top: .1rem solid var(--text-color);
        box-shadow: 0 .1rem .4rem var(--text-color);
        display: none;
        transition: background 0.8s, color 0.8s;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    #home {
        flex-direction: column;
    }

    .logo {
        padding-right: 46px;
    }

    .home-content h3 {
        font-size: 3.1rem;
    }

    .home-content h1 {
        font-size: 4.6rem;
    }

    #home span {
        display: block;
    }

    .home-content h3:nth-of-type(2) {
        margin-bottom: 13px;
    }

    .home-content p {
        font-size: 1.6rem;
    }

    .home-content .social-media a {
        margin: 18px 15px 18px 0;
    }

    .btn-donwload {
        display: none;
    }

    #about {
        flex-direction: column-reverse;
    }

    .about-col-1 {
        text-align: center;
        justify-content: center;
    }

    #about img {
        border-radius: 20px;
        margin-top: 4rem;
        width: 25vw;
    }

    #about p {
        font-size: 15px;
    }

    #about .row {
        display: flow;
    }

    .icons-tec i {
        font-size: 35px;
    }
}

@media (max-width: 710px) {
    .row {
        display: block;
    }

    .contact-left p {
        display: flex;
    }

}